// altai-section.jsx begin
.centralised_container {
  position: relative;
  overflow: scroll;
  width: 100%;
  font-size: 1em;
  max-width: 300px;
  // max-width: calc(100vw - 70px);
}

@media (min-width: 450px) {
  .centralised_container {
    max-width: 380px;
  }
}

@media (min-width: 786px) {
  .centralised_container {
    max-width: 500px;
  }
}
@media (min-width: 900px) {
  .centralised_container {
    max-width: unset;
  }
}

.centralised-sunshine-gradient-title {
  display: block;
  margin-bottom: 16px;
  font-style: normal;
  // font-size: min(48px, 9vw);
  font-weight: 500;
  text-align: center;
  background-image: linear-gradient(
    200.67deg,
    #ffffff 25%,
    hsl(54deg 100% 70%) 35%,
    hsl(36deg 100% 55%) 55.54%,
    hsl(333deg 100% 50%) 75%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
@media (max-width: 500px) {
  .centralised-sunshine-gradient-title {
    text-align: left;
  }
}

.section_container {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  font-size: 0.8em;
}
@media (max-width: 900px) {
  .section_container:after {
    content: '';
    min-width: 100px;
    pointer-events: none;
  }
}
@media (min-width: 900px) {
  .section_container {
    // max-height: 500px;
    flex-direction: column;
  }
}

.section-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px 32px;
}
@media (max-width: 900px) {
  .section-list {
    grid-template-columns: repeat(9, 250px);
  }
}

.section-list-element {
  margin-bottom: 16px;
  display: flex;
  align-items: baseline;
  // z-index: 1;

  &:last-of-type {
    margin-bottom: 0;
  }

  span {
    display: inline-block;
    padding-right: 16px;
    padding-top: 0;
    transform: translateY(5px);
  }
}

.right_gradient {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin-right: -2px;
  width: 100px;
  background: linear-gradient(
    to right,
    transparent,
    white
  );
  pointer-events: none;
}
@media (max-width: 900px) {
  .right_gradient {
    display: block;
  }
}

.gradient-fade-section {
  position: absolute;
  bottom: var(--bottom);
  left: 0;
  right: 15px;
  height: 100px;
  background: linear-gradient(
    to var(--gradient-direction),
    transparent,
    white
  );
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  pointer-events: none;
}
@media (max-width: 900px) {
  .gradient-fade-section {
    display: none;
  }
}

.gradient-position-bottom-400px {
  --bottom: 400px;
  --gradient-direction: top;
  opacity: 0;
}

.gradient-position-bottom {
  --bottom: 0;
  --gradient-direction: bottom;
}
