@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

:root {
  --main-blue: #0000E6;
  --main-light-blue: #F0EEF9;
  --text-grey: #6B6B6B;
}
html,
body {
  margin: 0px;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  width: 0px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-blue {
  color: var(--main-blue) !important;
}

.text-grey {
  color: var(--text-grey) !important;
}

.background-blue {
  background-color: var(--main-blue) !important;
}

.background-light-blue {
  background-color: var(--main-light-blue) !important;
}

.icon-blue-color {
  color: var(--main-blue);
}

.icon-grey-color {
  color: #1B1819;
}


mentions {
  margin: 1em 0;
}

.mentions--multiLine .mentions__highlighter {
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 0px;
}
.mentions--multiLine .mentions__input {
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 0px;
  outline: 0;
}

.mentions__suggestions {
  z-index: 2 !important;
}

.mentions__suggestions__list {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 10pt;
}

.mentions__suggestions__item {
  padding: 5px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.mentions__suggestions__item--focused {
  background-color: #cee4e5;
}

.mentions__mention {
  position: relative;
  z-index: 1;
  color: blue;
  text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px 1px 1px white, -1px -1px 1px white;
  text-decoration: underline;
  pointer-events: none;
}

.print\:background {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

.chakra-modal__content-container {
  width: 100% !important;
  height: 100% !important;
}

.chakra-modal__overlay {
  width: 100% !important;
  height: 100% !important;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.typed {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(92,92,153,1) 0%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
}

