:root {
  --main-blue: #0000E6;
}
html,
body {
  margin: 0px;
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.text-blue {
  color: var(--main-blue) !important;
}

.background-blue {
  background-color: var(--main-blue) !important;
}

.icon-blue-color {
  color: var(--main-blue);
}

.icon-grey-color {
  color: #1B1819;
}